body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 15px;
}

/*sets the styling of the main quiz area */
.quiz-container {
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border: 2px solid darkslategray;
    padding: 20px;
    text-align: center;
    margin-bottom: 0 auto;
}

/* Allows the content inside the quiz area to be correctly spaced */
.quiz-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#logo-image {
    height: 30vh;
    width: 30vw;
    margin-top: 5vh;
}

/* sets the styling of the score area */
.score-area {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}


#question-number-span {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 10px;
}


/* Ensuring the question number is displayed at the top of the quiz container */
.counter-area {
    height: 10%;
}


/* Ensuring the ogo area and answer area are the main portion of the quiz */
.logo-area,
.answer-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}


/* Styling the answer buttons */
.answer-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid;
    text-decoration: none;
    color: darkslategray;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Changes styling of the answer buttons when user hovers over them */
.answer-button:hover {
    background-color: darkslategray;
    color: white;
}