body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 15px;
}

/*sets the styling of the main quiz area */
.quiz-container {
    height: 80%;
    width: 80%;
    border: 2px solid darkslategray;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

/* sets the styling of the score area */
.score-area {
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.score-area {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

#question-number-span {
    font-size: 3vw;
    font-weight: bold;
}